.progress-bar {
	position: fixed;
	top: 0;
	z-index: 11;
	width: 0%;
	background: rgb(25, 182, 246);
	background: -moz-linear-gradient(
		0deg,
		rgba(25, 182, 246, 1) 0%,
		rgba(172, 126, 244, 1) 100%
	);
	background: -webkit-linear-gradient(
		0deg,
		rgba(25, 182, 246, 1) 0%,
		rgba(172, 126, 244, 1) 100%
	);
	background: linear-gradient(
		0deg,
		rgba(25, 182, 246, 1) 0%,
		rgba(172, 126, 244, 1) 100%
	);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#19b6f6",endColorstr="#ac7ef4",GradientType=1);
}
