.class_1 {
	tab-size: 4;
	color: var(--docus-body-color);
	font-family: var(--docus-body-fontFamily);
	line-height: inherit;
	box-sizing: border-box;
	border-width: 0;
	border-style: solid;
	border-color: #e5e7eb;
	backdrop-filter: var(--elements-backdrop-filter);
	position: sticky;
	top: 0;
	z-index: 10;
	width: 100%;
	border-bottom: 1px solid var(--elements-border-primary-static);
	background-color: var(--elements-backdrop-background);
	height: var(--docus-header-height);
}

.class_2 {
	tab-size: 4;
	color: var(--docus-body-color);
	font-family: var(--docus-body-fontFamily);
	line-height: inherit;
	box-sizing: border-box;
	border-width: 0;
	border-style: solid;
	border-color: #e5e7eb;
	padding-left: var(--elements-container-padding-sm);
	padding-right: var(--elements-container-padding-sm);
	margin-inline-start: auto;
	margin-inline-end: auto;
	width: 100%;
	display: grid;
	height: 100%;
	grid-template-columns: repeat(12, minmax(0, 1fr));
	gap: var(--space-2);
}

.class_3 {
	tab-size: 4;
	color: var(--docus-body-color);
	font-family: var(--docus-body-fontFamily);
	line-height: inherit;
	box-sizing: border-box;
	border-width: 0;
	border-style: solid;
	border-color: #e5e7eb;
	display: flex;
	align-items: center;
	flex: none;
	grid-column: span 4 / span 4;
}
.class_4 {
	tab-size: 4;
	color: var(--docus-body-color);
	font-family: var(--docus-body-fontFamily);
	line-height: inherit;
	box-sizing: border-box;
	border-width: 0;
	border-style: solid;
	border-color: #e5e7eb;
	display: flex;
	align-items: center;
	grid-column: span 4 / span 4;
	justify-content: center;
	flex: 1;
	z-index: 1;
}
.class_5 {
	padding-right: 20px;	
	tab-size: 4;
	color: var(--docus-body-color);
	font-family: var(--docus-body-fontFamily);
	line-height: inherit;
	box-sizing: border-box;
	border-width: 0;
	border-style: solid;
	border-color: #e5e7eb;
	display: flex;
	grid-column: span 4 / span 4;
	justify-content: flex-end;
	align-items: center;
	flex: none;
	margin-right: calc(0px - var(--space-4));
}
.class_6 {
	tab-size: 4;
	box-sizing: border-box;
	border-width: 0;
	border-style: solid;
	border-color: #e5e7eb;
	font-family: inherit;
	font-size: 100%;
	font-weight: inherit;
	line-height: inherit;
	margin: 0;
	text-transform: none;
	background-color: transparent;
	background-image: none;
	cursor: pointer;
	position: relative;
	z-index: 10;
	padding: var(--space-4) var(--space-4) var(--space-4) 0;
	color: var(--color-gray-500);
	display: none;

	@media (max-width: 1023px) {
		display: block;
	}
}
.class_6_1 {
	tab-size: 4;
	font-family: var(--docus-body-fontFamily);
	line-height: inherit;
	box-sizing: border-box;
	border-width: 0;
	border-style: solid;
	border-color: #e5e7eb;
	color: inherit;
	text-decoration: inherit;
	align-items: center;
	flex: none;
	display: none;

	@media (min-width: 1024px) {
		display: block;
	}
}
.class_4_1 {
	display: none;

	@media (max-width: 1023px) {
		display: block;
	}
}
