.footer_class_1 {
	tab-size: 4;
	color: var(--docus-body-color);
	font-family: var(--docus-body-fontFamily);
	line-height: inherit;
	box-sizing: border-box;
	border-width: 0;
	border-style: solid;
	border-color: #e5e7eb;
	display: flex;
	min-height: var(--docus-footer-height);
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: var(--elements-border-primary-static);
	padding: var(--docus-footer-padding);
}

.footer_class_2 {
	tab-size: 4;
	color: var(--docus-body-color);
	font-family: var(--docus-body-fontFamily);
	line-height: inherit;
	box-sizing: border-box;
	border-width: 0;
	border-style: solid;
	border-color: #e5e7eb;
	padding-left: var(--elements-container-padding-md);
	padding-right: var(--elements-container-padding-md);
	margin-inline-start: auto;
	margin-inline-end: auto;
	width: 100%;
	display: grid;
	grid-template-columns: repeat(12, minmax(0, 1fr));
	gap: var(--space-2);
	justify-items: legacy;
}

.footer_class_2_left {
	tab-size: 4;
	color: var(--docus-body-color);
	font-family: var(--docus-body-fontFamily);
	line-height: inherit;
	box-sizing: border-box;
	border-width: 0;
	border-style: solid;
	border-color: #e5e7eb;
	display: flex;
	padding-top: var(--space-4);
	padding-bottom: var(--space-4);
	grid-column: span 3 / span 3;
	order: 0;
}

.footer_class_2_center {
	tab-size: 4;
	color: var(--docus-body-color);
	font-family: var(--docus-body-fontFamily);
	line-height: inherit;
	box-sizing: border-box;
	border-width: 0;
	border-style: solid;
	border-color: #e5e7eb;
	display: flex;
	align-items: center;
	grid-column: span 6 / span 6;
	flex-direction: row;
	justify-content: center;
}

.footer_class_2_right {
  padding-right: 20px;
	tab-size: 4;
	color: var(--docus-body-color);
	font-family: var(--docus-body-fontFamily);
	line-height: inherit;
	box-sizing: border-box;
	border-width: 0;
	border-style: solid;
	border-color: #e5e7eb;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	grid-column: span 3 / span 3;
	margin-right: calc(0px - var(--space-4));
}
