.footer_class_2_right {
  padding-right: 20px;
  tab-size: 4;
  color: var(--roadplan-body-color);
  font-family: var(--roadplan-body-fontFamily);
  line-height: inherit;
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  border-color: #e5e7eb;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  grid-column: span 3 / span 3;
  margin-right: calc(0px - var(--space-4));
}
