/**
 * Tailwind CSS imports
 * View the full documentation at https://tailwindcss.com
 */
@tailwind base;
@tailwind components;
@tailwind utilities;

/**
 * WHAT IS THIS FILE?
 *
 * Globally applied styles. No matter which components are in the page or matching route,
 * the styles in here will be applied to the Document, without any sort of CSS scoping.
 *
 */

html {
  height: 100%;
  &.dark {
    @apply bg-slate-900;
  }
}

body {
  padding: 0;
  margin: 0;
  height: 100%;
}

.light-icon {
  display: none;
}
.dark-icon {
  display: none;
}
.light {
  .light-icon {
    display: block;
  }
}
.dark {
  .dark-icon {
    display: block;
  }
}
