/**
 * Tailwind CSS imports
 * View the full documentation at https://tailwindcss.com
 */
@tailwind base;
@tailwind components;
@tailwind utilities;

/**
 * WHAT IS THIS FILE?
 *
 * Globally applied styles. No matter which components are in the page or matching route,
 * the styles in here will be applied to the Document, without any sort of CSS scoping.
 *
 */

html {
  height: 100%;
  &.dark {
    @apply bg-slate-900;
  }
}

body {
  padding: 0;
  margin: 0;
  height: 100%;
}

.light-element {
  display: none;
}
.dark-element {
  display: none;
}
.light {
  .light-element {
    display: block;
  }
}
.dark {
  .dark-element {
    display: block;
  }
}

.docs {
  @apply w-full px-8 text-black dark:text-white lg:px-16;

  * {
    @apply scroll-m-[160px];
  }
  h1 {
    @apply mt-2  text-4xl font-bold;
  }

  h2 {
    @apply mt-12 border-b pb-2 text-2xl font-semibold tracking-tight first:mt-0;
  }

  h3 {
    @apply mt-8 text-xl font-semibold tracking-tight;
  }

  h4 {
    @apply mt-8 text-lg font-semibold tracking-tight;
  }

  h5 {
    @apply mt-8 text-lg font-semibold tracking-tight;
  }

  h6 {
    @apply mt-8 text-base font-semibold tracking-tight;
  }

  a {
    @apply font-medium underline underline-offset-4;
  }

  p {
    @apply leading-7;
  }

  p:not(:first-child) {
    @apply mt-6;
  }

  ul {
    @apply my-6 ml-6 list-disc;
  }

  ol {
    @apply my-6 ml-6 list-decimal;
  }

  li {
    @apply mt-2;
  }

  blockquote {
    @apply mt-6 border-l-2 pl-6 italic;
  }

  img {
    @apply rounded-md;
  }

  hr {
    @apply my-4 md:my-8;
  }

  table {
    @apply my-6 w-full overflow-y-auto;
  }

  tr {
    @apply m-0 border-t p-0;
  }

  th {
    @apply border px-4 py-2 text-left font-bold;
  }

  th[align="center"] {
    @apply text-center;
  }

  th[align="right"] {
    @apply text-right;
  }

  td {
    @apply border px-4 py-2 text-left;
  }

  td[align="center"] {
    @apply text-center;
  }

  td[align="right"] {
    @apply text-right;
  }

  pre {
    @apply mb-4 mt-6 max-h-[650px] overflow-x-auto rounded-lg border bg-zinc-950 p-6 text-white dark:bg-zinc-900;
  }
}
